{
  "plugins": ["cucumber", "@typescript-eslint"],
  "rules": {
    "cucumber/async-then": 2,
    "cucumber/expression-type": 2,
    "cucumber/no-arrow-functions": 2
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "root": true
}
